.hero-section {
  display: flex;
  background-color: #fffffa;
  margin-left: 5rem;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #002c3e;
  padding-top: 2rem;
  /* padding-right: 5rem; */
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 2px solid;
  /* max-width: 51%; */
}

.subheading {
  color: #31383a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 1.75rem;
  padding-top: 1rem;
}

.image-1 {
  padding-top: 5rem;
  width: 9rem;
  margin-left: 2rem;
}

.image {
  margin-left: 5rem;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-section {
  display: flex;
  margin-left: 5rem;
}

.list-cont {
  margin-right: 5rem;
  margin-top: 3rem;
  margin-left: 7rem;
}

.list {
  /* display: flex; */
  list-style: none;
}

.list-item {
  margin-top: 2rem;
}

.text-content {
  max-width: 35%;
}

.button {
  min-width: 32rem;
  text-align: center;
  background-color: #387e9f;
  color: #fffffa;
  padding: 2rem 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 63px;
  transition: all ease .3s;
}

.button:hover{
  text-decoration: none;
  background-color: #4f97b8;
  color: #fffffa;
}
